html
    head
        title Jules LAURENT - Le blog
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
    body
        main.container
            block content
        block scripts