extends base.pug
block content
    h1 Ajouter un post
    form(action='form_handle' method='post' )
        div
            label(for='title_field') Titre
            input(id='title_field' name='title')
        div
            label(for='content_field') Contenu
            textarea(id='content_field' name='content').materialize-textarea
        input(type='submit').btn.btn-block
block scripts
    script(src='/scripts/form.js')