extends base.pug
block links
    link(rel="stylesheet" href="/css/list.css")
block content
    h1 Super blog
    a(href="/add").btn.btn-block Ajouter un article
    for article in articles
        div.card
            div.card-content
                div.row
                    div.col.s11
                        h3.card-title #{article.title}
                        p #{article.content}

                    div.col.s1.vote-toggles
                        i.fa.fa-caret-up.fa-2x
                        p.vote-count #{-article.downvotes + article.upvotes}
                        i.fa.fa-caret-down.fa-2x
    else
        div Aucun article
