html
    head
        title Rock, paper, scissors - JulesAaelio
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            for article in articles
                div
                    h3 #{article.title}
                    p #{article.content}
