extends base.pug
block content
    h1 Super blog
    a(href="/add").btn.btn-block Ajouter un article
    for article in articles
        div.card
            div.card-content
                div.row
                    div.col.s11
                        h3.card-title #{article.title}
                        p #{article.content}

                    div.col.s1

                        P #{-article.downvotes + article.upvotes}
    else
        div Aucun article
